table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

td {
  empty-cells: show;
  width: 35px;
  height: 35px;
}
/* td:hover {background-color: #c01a1a;} */

.dark {background-color: black;}

